.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
}
.nav-link {
  display: block;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  transform: scale(1.06);
  color: #747bff;
}
